.about-wrap {
  padding-top: 17.6rem;
  padding-bottom: 14rem;
  @include tablet {
    padding-top: 15rem;
    padding-bottom: 10rem;
  }
  .heading {
    margin-bottom: 1.5rem;
  }
  .hero-img {
    margin-top: 4.8rem;
    margin-bottom: 4.2rem;
    @include tablet {
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
  }
  .line {
    @include size(1px, 23.5rem);
    background-color: $black-cl;
    margin: 0 auto;
    margin-top: 2rem;
    @include tablet {
      @include size(30rem, 1px);
      margin-bottom: 2rem;
    }
  }
  .wrap-content {
    padding: 0 2.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15.7rem;
    @include tablet {
      flex-direction: column;
      margin-bottom: 5rem;
    }
    .arial-text {
      @include tablet {
        margin: 0 auto;
        text-align: center;
        max-width: 45rem;
      }
    }
    img {
      display: block;
      margin-top: 11.5rem;
      @include tablet {
        margin-top: 3rem;
      }
    }
  }
  .ceo-info {
    margin-top: 2.8rem;
    margin-bottom: 4rem;
    img {
      display: block;
      margin: 0 auto;
      margin-top: 4rem;
    }
    span {
      display: block;
      margin-left: auto;
      max-width: max-content;
      margin-top: -3.2rem;
      margin-right: 21rem;
    }
  }
  .arial-text {
    &.--res {
      text-align: center;
    }
  }
}
